* {
  margin:0px; 
  padding:0px; 
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
body {
  background-color: #373E47;
  color: white;
}
/* ------Header-------- */
nav {
  display: grid;
  grid-template-columns: 1fr;
  /* flex-wrap: wrap; */
  /* display: inline-flex; */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  background-color: #565661;
  list-style: none;
  flex-direction: row;
  height: 75px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 10px; */
}

nav ul li {
  list-style: none;
  /* display: flex; */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* display: inline; */
  margin: 20px;
  /* padding: 10px; */
  text-align: center;
}

nav ul li a{
  color: white;
  text-decoration: none;
}
nav ul{
  display: flex; 
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* padding-right: 10px; */
  justify-content: flex-end;
  align-self: flex-end;
  text-align: end;
}

#logo-cg {
  visibility: hidden;
  height: 1px;
  width: 1px;
}

#navProfile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 10px 0px 0px;
}

#photoProfile img{
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin-left: 10px;
  margin-top: -5px;
}
#profile-style{
  padding: 0px 10px;
}
#line-nav {
  height: 3px;
  background-color: rgba(249, 76, 162, 1);
}
/* ---------------------- */
#btn-new-post-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-content: center;
  flex: 1;
}

#btn-new-post {
  display: flex;  
  flex-wrap: wrap;
  width: 300px;
  padding: 5px;
  border: 1px solid rgba(249, 76, 162, 1);
  background-color: rgba(249, 76, 162, 0.4);
  border-radius: 10px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  justify-content: center;
  color: white;
  cursor: pointer;
}

#btn-new-post:hover {
  background-color: rgba(249, 76, 162, 0.6);
}

#btn-new-post svg {
  margin: 5px;
  color: #F94CA2;
}
#btn-new-post div {
  margin: 5px;
}

#line-after {
  display: flex;
  height: 10px;
  margin: 0px 10px 0px 10px;
  background-color: rgba(249, 76, 162, 0.2);
}

#wall-container {
  display: grid;
  /* flex-direction: column; */
  /* border: 1px solid yellow; */
  align-items: center;
  /* padding: 10px; */
  flex: 1;
}

.wall-container-post {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
  /* justify-content: center; */
  flex-direction: column;
  /* width: 600px; */
  margin: 10px 15px;
  background-color: #565661;
  border-radius: 15px;
  padding: 20px;
}

.post-p {
  display: flex;
  flex-wrap: wrap;
  background-color: #63636D;
  padding: 10px 20px;
  border-radius: 10px;
}

.textarea-post {
  margin: 10px 0px;
  background-color: rgba(225,225,225, 0.2);
  color: white;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.post-container {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  /* border: 1px solid red; */
  background-color: #63636D;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

#post-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#post-form textarea {
  margin: 10px 0px;
  background-color: rgba(225,225,225, 0.2);
  color: white;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#post-form textarea::placeholder {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#post-form button {
  width: 120px;
  margin: 0px 10px;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid rgba(249, 76, 162, 1);
  background-color: rgba(249, 76, 162, 0.6);
  color: white;
  cursor: pointer;
  align-self: flex-end;
}

#post-form button:hover {
  background-color: rgba(249, 76, 162, 0.8);
}

#btns-emoji-discard {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.emoji-post {
  display: flex;
  color: white;
  width: 20px;
  padding: 2px 0px;
  margin: 0px 10px 0px 20px;
  background-color: transparent;
  cursor: pointer;
  /* border: 1px solid rgba(249, 76, 162, 1); */
  /* background-color: rgba(249, 76, 162, 0.6); */
  border: none;
  border-radius: 7px;
  justify-content: center;
  align-self: flex-start;
}

.emoji-post:hover {
  color: rgba(249, 76, 162, 0.8);
}

#btn-form-discard {
  display: flex;
  color: white;
  width: 120px;
  padding: 2px 0px;
  margin: 0px 20px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(249, 76, 162, 1);
  /* background-color: rgba(249, 76, 162, 0.6); */
  border-radius: 7px;
  justify-content: center;
  /* align-self: flex-end; */
  justify-self: end;
}

#btn-form-discard svg {
  margin: 3px;
}
#btn-form-discard div {
  margin: 3px;
}
#btn-form-discard:hover {
  background-color: rgba(249, 76, 162, 0.6);
}

.btn-post-delete {
  display: flex;
  color: white;
  width: 90px;
  padding: 2px 0px;
  margin: 10px 5px 10px 10px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(249, 76, 162, 1);
  /* background-color: rgba(249, 76, 162, 0.6); */
  border-radius: 5px;
  justify-content: center;
}

.btn-post-delete:hover {
  background-color: rgba(249, 76, 162, 0.6);
}

.btn-post-edit {
  display: flex;
  color: white;
  width: 90px;
  padding: 2px 0px;
  margin: 10px 5px 10px 5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(249, 76, 162, 1);
  /* background-color: rgba(249, 76, 162, 0.6); */
  border-radius: 5px;
  justify-content: center;
}

.btn-post-edit:hover {
  background-color: rgba(249, 76, 162, 0.8);
}

#btns-post-delete-edit {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

#counters-heart-comment {
  display: flex;
  align-self: flex-start;
  padding: 10px 10px;
  flex: 1;
}

.btn-heart {
  border: none;
  background: transparent;
  color: white;
}
.counts-heart {
  margin: 0px 5px 3px 0px;
}
/* #container-number-comments {
  margin: 3px 5px 0px 0px;
} */
.counts-comment {
  padding: 0px 0px 5px 0px;
}
.btns-heart:hover {
  color: rgba(249, 76, 162, 1);
}

#count-comment:hover {
  color: rgba(249, 76, 162, 1);
}

#btns-container-heart {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* .wall-container-post div {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

#line-comment {
  height: 1px;
  background-color: rgba(249, 76, 162, 0.8);
  /* margin: 5px 0px; */
}
#text-comment {
  display: flex;
  padding: 10px;
  align-self: flex-end;
}

#each-comment {
  display: flex;
}

#text-comment svg{
  margin: 2px 5px 0px 0px;
}

#comment-container {
  display: grid;
  grid-template-columns: 1fr 14fr 1.5fr;

}

#content-comment {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  background-color: #63636D;
  /* padding: 10px 20px; */
  border-radius: 15px;
  margin: 10px 0px 2px;
}
#date-comment {
  text-align: end;
  font-size: 8px;
}

.comment-p {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  /* box-sizing:border-box; */
  /* word-wrap: break-word; */
  /* flex: auto; */
  padding: 0px 10px 7px;
  border-radius: 15px;
}
#content-comment div {
  margin: 7px 10px 0px;
  font-size: 14px;
}

#image-comment {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 10px 7px 0px 10px;
}

#comment-container textarea {
  border: 1px solid rgba(249, 76, 162, 1);
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  padding: 10px 10px 0px 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#comment-container textarea::placeholder {
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#btn-comment {
  background-image: url('assets/img/send.svg');
  background-position: center;
  background-size: cover;
  color: rgba(249, 76, 162, 0.8);
  background-color: transparent;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  text-align: left;
}

#comment-users {
  display: grid;
  /* grid-template-rows: 1fr 0.1fr ; */
}

#user-info {
  display: flex;
  grid-template-columns: 1fr 25fr ;
}
/* --- boton borrar/editar de comentarios --- */
.btn-comment-delete, .btn-comment-edit {
  display: flex;
  color: white;
  /* width: 90px; */
  /* padding: 5px 0px;
  margin: 5px 5px 0px; */
  background-color: transparent;
  cursor: pointer;
  border: none;
  /* border: 1px solid rgba(249, 76, 162, 1); */
  /* background-color: rgba(249, 76, 162, 0.6); */
  border-radius: 5px;
  justify-content: center;
}
.btn-comment-delete {
  margin: 15px 5px 0px;
}
.btn-comment-edit {
  /* padding: 5px 0px; */
  margin: 5px 5px 0px;
}

.btn-comment-delete:hover,
.btn-comment-edit:hover{
  color: rgba(249, 76, 162, 0.6);
}
/* ------------------ */
#btns-comment-delete-edit {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* align-self: flex-end; */
}
/* ------------ */
#user-post {
  display: flex;
  flex-direction: column;
}
#user-info-post {
  display: flex;
  grid-template-columns: 1fr 25fr ;
}
#user-image {
border-radius: 50px;
height: 50px;
width: 50px;
margin: 10px;
}
#user-name {
 display: flex;
margin: 10px 10px 0px 10px;
align-self: center;
font-weight: 500;
}
#user-image-comment {
width: 30px;
height: 30px;
border-radius: 50px;
margin: 3px 7px 0px 10px;
}
/* --- Agregar imagen --- */
#emoji-photo{
display: flex;
}
.photo-post {
display: flex;
color: white;
width: 20px;
padding: 2px 0px;
margin: 0px 0px;
background-color: transparent;
cursor: pointer;
/* border: 1px solid rgba(249, 76, 162, 1); */
/* background-color: rgba(249, 76, 162, 0.6); */
border: none;
border-radius: 7px;
justify-content: center;
align-self: flex-start;
}

.photo-post:hover {
color: rgba(249, 76, 162, 0.8);
}
#addImage {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}
/* --- Select Privacy ---*/

select{
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
box-shadow: none; 

background: rgba(249, 76, 162, 0.5);
outline: none;
border:1px solid rgba(249, 76, 162, 1);
cursor: pointer;
color: white;
border-radius: 10px;
font-size: 10px;
padding: 2px 4px;
}

select:hover{
background: rgba(249, 76, 162, 1);
}

#options {
margin: 0px 10px;
}

.selects-privacy {
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
box-shadow: none; 

background: rgba(249, 76, 162, 0.5);
outline: none;
border:1px solid rgba(249, 76, 162, 1);
cursor: pointer;
color: white;
border-radius: 10px;
font-size: 10px;
padding: 0px 4px;
width: 44px;
height: 16px;
}

.hide{
visibility: hidden;
height: 1px;
}

/* --- Date Post --- */
#name-container {
display: grid;
grid-template-columns: 1fr;
}

#date-privacy-post-container {
display: flex;
/* grid-template-columns: 1fr 1fr; */
}
.date-post {
font-size: 10px;
margin: 0px 15px;
color: #f8f8f8;
}

/* ------ Aside Alidas ------ */
.aside-aliadas {
  /* display: block; */
  visibility: hidden;
  height: 1px;
  width: 1px;
}

#aliadas-title {
  display: flex;
  color: rgba(249, 76, 162, 1);
  /* font-weight: bold; */
  background-color: rgba(249, 76, 162, 0.1);
  height: 32px;
  font-size: 18px;
  /* flex: 1; */
  padding: 5px 5px 5px 25px;
}

#aliada-info{
  display: flex;
  padding: 10px;
}
#aliada-info img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 3px 7px 0px 10px;
}
#aliada-info div {
  word-break: break-all;
  font-size: 14px;
  padding: 10px 0px;
}

/* ------Media--------- */
@media screen and (min-width:600px) {
  #btn-new-post {
    margin-left: 100px;
    margin-right: 100px;
  }
  .aside-aliadas {
    visibility: visible;
    display: inline-flex;
    flex-direction: column;
    float: left;
    margin: 0 4% 0 1.5%;
    width: 25%;
    height: 100vh;
    /* border: 1px solid green; */
    margin-top: 80px;
    padding: 20px 0px;
    background-color: rgba(86, 86, 97, 0.5);
    border-radius: 10px;
  }
  #logo-cg {
    visibility: visible;
    height: 80px;
    width: 80px;
    margin-left: 50px;
  }
  nav {
    font-size: 16px;
    grid-template-columns: 3fr 10fr;
    padding-right: 100px;
  }
  nav ul li {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* ------------Profile--------------*/
.information-profile{
    background-color: #565661;
    border-radius: 10px;
    width: 1200px;
    height: 402px;
    margin-top: 60px;
    margin-left: 73px;
}

.profile-photo .photo{
    width: 240px;
    height: 239px;
    margin-top: 30px;
    margin-left: 130px;
    border-radius: 150px;
    border: 10px solid rgba(249, 76, 162, 0.5);
    
}
#camera{

    color: #F94CA2;
    position: absolute;
    width: 47.49px;
    height: 41px;
    left: 394px;
    top: 310px;
}
h2 {
    
    height: 15px;
    margin-top: 10px;
    margin-left: 119px;
    color: #ffffff;
    /* font-family:Arial; */
}

.user-name{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-left: 119px;
    border-radius: 10px;
    background-color: #62626C;
    border: 1px solid #F94CA2;
   
}

.name{
    color:#ffffff;
    /* font-family:Arial; */
    font-size: 24px;
    margin-left: 80px;
}

.title-description{
    width: 500px;
    height: 140px;
    margin-top: 20px;
    margin-left: 650px;
    border-radius: 10px;
    background-color: #62626C;
    border: 1px solid #F94CA2;
   
}

.description{
    color:#ffffff;
    font-size: 20px;
    margin-left: 30px;
    font-style: normal;
}

.me{
   
    margin-top: -350px;
    margin-left: 650px;
    color: #ffffff;
    font-size: 14px;
}
.follow{
    
    margin-top: 30px;
    margin-left: 650px;
    color: #ffffff;
    font-size: 14px;
}
.links{
    
    width: 500px;
    height: 45px;
    margin-top: 45px;
    margin-left: 650px;
    border-radius: 10px;
    background-color: #62626C;
    border: 1px solid #F94CA2;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.edition-information{
    position: absolute;
    width: 1200px;
    height: 59px;
    left: 78px;
    top: 470px;
    background: rgba(115, 137, 181, 0.2);
    opacity: 0.9;
}
#btn-editProfile{
    position: absolute;
    width: 150px;
    height: 43px;
    left: 10px;
    top: 10px;
    background: #FFFFFF;
    border: 1px solid #F94CA2;
    box-sizing: border-box;
    border-radius: 15px;
    }
.profile-privacy{
    position:absolute;
    top:15px;
    margin-left: 1110px;
}

.aside-left ul {
    
    position: absolute;
    left: 30px;
    top: 550px;
    font-size: 18px;
    line-height: 28px;
    color: #F94CA2;
    list-style:none;
    /* line-height:75px; */
}
.aside-right ul{
    
    position: absolute;
    left: 1080px;
    top: 550px;
    font-size: 18px;
    line-height: 28px;
    color: #F94CA2;
    text-decoration: none;
    list-style:none;
    /* line-height:75px; */
}
#alia, #post, #fras{
    margin-top:15px;
    width: 250px;
    height: 61px;
    left: 0px;
    background: rgba(249, 76, 162, 0.1);
}

.aside-left li a{
    text-decoration: none;
    list-style:none;
    color: #F94CA2;
    margin-left:50px;
}
.aside-right li a{
    text-decoration: none;
    color: #F94CA2;
}
.frase-favorita{
    position: absolute;
    width: 230px;
    height: 130px;
    left: 45px;
    top: 250px;
    background-color:rgba(115, 137, 181, 0.25);
}
.frase{
    color: #ffffff;
    line-height: 35px;
    margin-left: 10px;
}

/* Lineas divisoras */
div.vertical-line-left{
    width: 10px; /* Line width */
    background-color: rgba(249, 76, 162, 0.4);
    height: 100%; 
    position: absolute;
    left: 320px;
    top: 560px;
}

div.vertical-line-right{
    width: 10px; /* Line width */
    background-color: rgba(249, 76, 162, 0.4);
    height: 100%; 
    position: absolute;
    right: 260px;
    top: 560px;
}

.hidden{
    display: none;
}


footer{
  text-align: center;
  background-color: #F94CA2;
}

/************************************LOGIN************************************/

.login-content {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  width: 100%; 
  height: 100%; 
}
.login-left {
  text-align: center;
  background-color: #565661;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  
}
.login-right {
  background-color: #ffffff;
  padding: 15px;
}
#hrContent {
  margin: 15px 20px;
}


/***************************elementos de .login-left***************************/
#login-logoImg{
  width: 200px;
  margin: 10px;
}
#login-programadoraImg{
  width: 400px;
  margin: 20px;
}

/***************************elementos de .login-right***************************/
.login-mjsError{
  background-color: #ffe8e6;
  color: #db2828;
  -webkit-box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
  font-size: 1em;
  padding: 5px;
  margin: 5px;
  height: 50px;
  display: none;
}

#login-form{
  background-color: #F8F8F8;
  text-align: center;
  border-radius: 15px;
  margin: 50px 20px;
  padding: 0 60px;
}
.login-fontBlack{
  color: black;
  margin: 15px;
}
#login-form > h1{
  font-size: 20px;
}

/*cajas de texto*/
.login-inputs{
  outline: none;
  font-size: 15px;
  color: rgba(0,0,0,.8);
  padding: 12px 5px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px #F94CA2 solid; 
  width: 100%;   
}

.inputName, .inputLastName{
  background: url(./assets/img/person.svg) no-repeat scroll;
  background-position: 98% center;
  background-color: #ffffff;
}

.inputPassword{
  background: url(./assets/img/candado.svg) no-repeat scroll;
  background-position: 98% center;
  background-color: #ffffff;
}
.inputEmail{
  background: url(./assets/img/email.svg) no-repeat scroll;
  background-position: 98% center;
  background-color: #ffffff;
}

/*botones*/
.login-buttons{
  padding: 12px 100px;
  margin: 10px 0;
  border-radius: 15px;
  font-weight: 700;
  border: 1px;  
}
.login-buttons:hover{
  cursor: pointer; /* cursor manito */
}

#btnLoginEmail{
  background: #F94CA2;
  color: #ffffff;
  border: 1px #F94CA2 solid;
}
#btnLoginEmail:hover{
  background: #f8f8f8;
  color: #F94CA2;
  border: 1px #F94CA2 solid;
}

#btnLoginGoogle{
  background: url(./assets/img/google.png) no-repeat scroll;
  background-color: #F8F8F8;
  background-position: 10% center;
  border: 1px #0793E2 solid;
  padding: 12px 80px;
}
#btnLoginGoogle:hover{
  background: url(./assets/img/google.png) no-repeat scroll;
  background-color: #f8f8f8;
  background-position: 10% center;
  border: 1px #0793E2 solid;
  color: #0793E2;  
}

#btnCreateEmail{
  background: #565661;
  border: 1px #F94CA2 solid;
  color: #ffffff;
}
#btnCreateEmail:hover{
  background: #565661;
  border: 1px #F94CA2 solid;
  color: #F94CA2;
}

#btnRegister{
  /* background: #565661;
  border: 1px #F94CA2 solid;
  color: #F94CA2; */
  background: #F94CA2;
  color: #ffffff;
  border: 1px #F94CA2 solid;
}
#btnRegister:hover{
  /* background: #F94CA2;
  border: 1px #F94CA2 solid;
  color: #565661; */
  background: rgba(249, 76, 162, 0.12);
  color: #F94CA2;
  border: 1px #F94CA2 solid;
}


/***************************modal Registro***************************/
.modalContainer {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}
.modalContainer .modal-content {
  /*background-color: #615661;*/
  background-color: rgb(59, 48, 54);
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  width: 60%;
}
#titleModal{
  background: rgba(249, 76, 162, 0.12);
  color: #F94CA2;
  margin: 40px 0;
  font-size: 25px;
}
#loginModal-logoImg{
  width: 80px;
}
.modalContainer .close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modalContainer .close:hover,
.modalContainer .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 228px) {
  .login-content {
      display: grid; 
      grid-template-columns: 1fr; 
      width: 100%; 
      height: 100%; 
  }
  .login-left {
      display: flex;
      order: 0;
      flex-grow: 1;
      justify-content: center;
      flex-direction: row;
      border-bottom: 10px solid #F94CA2;
      padding: 0 15px;
  }
  .login-buttons{
      padding: 12px 50px !important;
  }
  .login-fontBlack {
      margin: 0px !important;
  }
  #hrContent{
      margin: 15px 20px !important;
  }
  .modalContainer .modal-content {
      width: 100% !important;
  }
  #login-programadoraImg{
      margin: 5px !important;
  }

}

@media (max-width: 320px) {
  .login-left {
      padding: 0 15px;
  }
  .login-fontBlack {
      margin: 0px !important;
  }
  #hrContent{
      margin: 5px 20px;
  }
  #login-programadoraImg{
      margin: 2px !important;
  }
  .login-buttons{
      padding: 12px 50px !important;
      margin: 5px;
  }
  .login-right {
      padding: 5px;
  }
}

@media (max-width: 360px) { 
  .login-left {
      padding: 0 15px;
  }
  #login-programadoraImg{
      width: 45% !important;
      order: 1;
      margin: 0px;
  }
  #hrContent {
      margin: 5px 20px;
  }
  .login-buttons{
      padding: 12px 50px;
      margin: 5px;
  }
}

@media (max-width: 375px) {
  .login-content {
      display: grid; 
      grid-template-columns: 1fr; 
      width: 100%; 
      height: 100%; 
  }
  .login-left {
      display: flex;
      order: 0;
      flex-grow: 1;
      justify-content: center;
      flex-direction: row;
      border-bottom: 10px solid #F94CA2;
  }

  #login-logoImg{
      width: 30% !important;
      order: 2;
      
  }
  #login-programadoraImg{
      width: 60% !important;
      order: 1;
  }

  #login-form{
      text-align: center;
      border-radius: 15px;
      margin: 0px !important;
      padding: 0 10px !important;
  }

  .login-buttons{
      padding: 12px 50px;
      margin: 5px;
  }

  .modalContainer .modal-content {
      width: 100% !important;
  }
}

@media (max-width: 540px) {
  .login-content {
      display: grid; 
      grid-template-columns: 1fr; 
      width: 100%; 
      height: 100%; 
  }
  .login-left {
      display: flex;
      order: 0;
      flex-grow: 1;
      justify-content: center;
      flex-direction: row;
      border-bottom: 10px solid #F94CA2;
  }

  #login-logoImg{
      width: 30% !important;
      order: 2;
  }
  #login-programadoraImg{
      width: 50% !important;
      order: 1;
      margin: 10px;
  }

  #login-form{
      text-align: center;
      border-radius: 15px;
      margin: 0px !important;
      padding: 0 10px !important;
  }

  .login-buttons{
      padding: 12px 50px;
      margin: 5px;
  }

  .modalContainer .modal-content {
      width: 100% !important;
  }
}

@media (max-width: 768px) {
  .login-content {
      display: grid; 
      grid-template-columns: 1fr; 
      width: 100%; 
      height: 100%; 
  }
  .login-left {
      display: flex;
      order: 0;
      flex-grow: 1;
      justify-content: center;
      flex-direction: row;
      border-bottom: 10px solid #F94CA2;
  }

  #login-logoImg{
      width: 30% !important;
      order: 2;
  }
  #login-programadoraImg{
      width: 50% !important;
      order: 1;
      margin: 10px;
  }

  #login-form{
      text-align: center;
      border-radius: 15px;
  }

  .modalContainer .modal-content {
      width: 80% ;
  }
}

@media (max-width: 1024px) {
  .login-content {
      display: grid; 
      grid-template-columns: 1fr; 
      width: 100%; 
      height: 100%; 
  }
  .login-left {
      display: flex;
      order: 0;
      flex-grow: 1;
      justify-content: center;
      flex-direction: row;
      border-bottom: 10px solid #F94CA2;
  }

  #login-logoImg{
      width: 30% !important;
      order: 2;
  }
  #login-programadoraImg{
      width: 50% !important;
      order: 1;
      margin: 10px;
  }

  #login-form{
      text-align: center;
      border-radius: 15px;
      padding: 100px 80px;
  }

  .modalContainer .modal-content {
      width: 80% ;
  }
}